@tailwind components;
@tailwind base;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .container{
    max-width: 90%;
  }
}
